/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
}

.resume-container {
  max-width: 1000px;
  margin: 20px auto; /* Add margin for spacing around the edges */
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 28px;
  color: white;
}

/* Layout Styles */
.main {
  display: flex;
  gap: 2rem; /* Adjust gap for better spacing */
  line-height: 35px;
  text-align: left;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

.summary {
  text-align: center;
}

.mydisplay {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
  gap: 20px; /* Adjust gap for better spacing */
}

.leftalign, .rightalign {
  flex: 1; /* Flex grow to fill available space */
  min-width: 0; /* Prevent shrinking issues */
}

.leftalign {
  border-right: 2px solid rgb(116, 77, 221); 
  padding-right: 20px; /* Adjust padding */
}

.rightalign {
  padding-left: 20px;
}

section {
  margin-bottom: 20px;
}

.resume-container h2 {
  font-size: 24px;
  color: #4caf50;
  border-bottom: 2px solid rgb(116, 77, 221);
  padding-bottom: 5px;
}

.education-item, .experience-item {
  margin-bottom: 15px;
  border-bottom: 2px solid rgb(116, 77, 221);
}

.resume-container h3 {
  font-size: 15px;
  color: purple;
}

.resume-container ul {
  list-style: disc;
  padding-left: 50px;
  margin: 0; /* Ensure no margin affects layout */
}

.resume-container .experience-item {
  font-size: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
  gap: 10px; /* Adjust gap for better spacing */
}

.resume-container button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0.6rem;
  background: linear-gradient(98deg, #a892fe 0%, #8054e8 100%);
  padding: 0.7rem;
  transition: all 0.3s ease;
  width: 150px;
}

.resume-container button:hover {
  color: #a892fe;
  background: transparent;
}

/* Responsive Layout */
@media (max-width: 1024px) {
  .main {
    flex-direction: column;
  }

  .leftalign, .rightalign {
    border-right: none;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .leftalign, .rightalign {
    border-right: none;
    padding-right: 0;
    padding-left: 0;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .resume-container button {
    width: 100%;
    margin-bottom: 10px; /* Add margin for spacing */
  }
}

.references {
  display: flex;
  gap: 20px; /* Adjust gap for better spacing */
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
}
