/* Resume.css */
/* 
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
} */

.resume-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 28px;
  color: white;
}

.main {
  display: flex;
  gap: 7rem;
  line-height: 35px;
  text-align: left;
}
.summary{
  text-align: center;
}

.mydisplay {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.leftalign, .rightalign {
  flex: 3;
}

.leftalign {
  border-right: 5px solid purple;
  padding-right: 20px;
}

.rightalign {
  padding-left: 20px;
  border-left: 5px solid purple;
}

section {
  margin-bottom: 20px;
}

.resume-container h2 {
  font-size: 24px;
  color: #4caf50;
  border-bottom: 2px solid purple;
  padding-bottom: 5px;
}

.education-item, .experience-item {
  margin-bottom: 15px;
  border-bottom: 2px solid purple;
}

.resume-container h3 {
  font-size: 20px;
  color: purple;
}

.resume-container ul {
   list-style: disc; 
  padding-left: 50px;
}

.resume-container.experience-item{
  font-size: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.resume-container button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  /* padding: 10px 20px; */
  cursor: pointer;
  font-size: 16px;
  border-radius: 0.6rem;
  background: linear-gradient(98deg, #a892fe 0%, #8054e8 100%);
  padding: 0.7rem;
  transition: all 0.3s ease;
  width: 150px;
}


.resume-container button:hover {
  /* background-color: #45a049; */
  color: #a892fe;
  background: transparent;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .leftalign, .rightalign {
    border-right: none;
    padding-right: 0;
    padding-left: 0;
  }
}
